<a href="https://colab.research.google.com/github/MTaimoorK/IBM-Data-Science-Course/blob/main/My%20First%20Jupyter%20Notebook%20For%20Final%20Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#My Jupter Notebook

## This is my notebook for the final exam of my course "Tools of Data Science"

**The Data Science languages are:**
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. MATLAB
7. SAS
8. Java
9. C/C++

__The Data Science Libraries Are:__

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. scikit-learn
6. TensorFlow
7. Keras
8. PyTorch
9. StatsModels
10. NLTK (Natural Language Toolkit)
11. OpenCV (Open Source Computer Vision Library)
12. Spark (Apache Spark)
13. Hadoop (Apache Hadoop)

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Anaconda           |
| Spyder             |
| PyCharm            |
| Visual Studio Code |
| Tableau            |
| Apache Hadoop      |
| Apache Spark       |
| Git                |

###__Arithmetic Expression Examples__

Arithmetic expressions are used to perform mathematical operations in programming. In Jupyter Notebook, you can write and evaluate arithmetic expressions using various operators and operands.

Here are some examples of arithmetic expressions:

1. Addition: `2 + 3` equals 5.
2. Subtraction: `7 - 4` equals 3.
3. Multiplication: `5 * 6` equals 30.
4. Division: `10 / 2` equals 5.
5. Modulo: `15 % 4` equals 3 (remainder).
6. Exponentiation: `2 ** 4` equals 16 (2 raised to the power of 4).

These examples demonstrate the basic arithmetic operations that you can perform using arithmetic expressions in Jupyter Notebook.

In [1]:
#Adding two numbers and printing the result

print(2+3)

#Multiplying two numbers and printing the result

print(5*2)

5
10

In [2]:
# Number of minutes
total_minutes = 120

# Convert minutes to hours
hours = total_minutes / 60

print("Total minutes:", total_minutes)
print("Hours:", hours)

Total minutes: 120
Hours: 2.0

####Objectives performed in the final exam:

- Create an ordered list of data science languages.
- Create an ordered list of data science libraries.
- Create a table of data science tools.
- Write a code to multiply and add two integers.
- Write a code to convert minutes into hours.
- Create an unordered list of the objectives performed.

**Author:**

- Name: *Muhammad Taimoor Khan*
- Qualification: *Bachelor's of Science in Computer Science*
- Country: *Pakistan*